body {
  margin: 0;
}
header {
  background-color: #1d0030;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}
a:hover {
  text-decoration: underline;
}
main a{
  text-decoration: none;
  color: #260564;
  font-size: 30px;
}
main ul{
  display: flex;
  flex-direction: column;

}
li a{
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}
h1 {
  text-align: center;
}